[Unit]
Description=Weston Wayland Compositor
After=network-online.target

[Service]
User=root
Environment=XDG_RUNTIME_DIR=/run/user/0
ExecStart=/usr/bin/weston
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
